body {
	padding: 0;
	margin: 0;
}



@media only screen  and (min-width : 768px) {
	#tooltip {
		font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: rgb(102, 102, 102);
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 15px;
		padding: 7px;
		position: fixed;
		width: 30vw;
		max-height: 200px;
		top: 10px;
		right: 10px;
	}
}



/* mobile tooltip */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#tooltip {
		font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: rgb(102, 102, 102);
		background-color: white;
		border: none;
		margin: auto;
		padding: 0;
		position: relative;
		width: 100%;
		height: 210px;
	}
}